<div id="welcome-headings" class="container-fluid">
  <h1>Welcome to Save the Food!</h1>
  <h3>Meal Preppers Assemble!</h3>
  <br>
  <% if !logged_in? %>
  <p>
  <%= link_to "Login", login_path %>
  or
  <%= link_to "Sign up", signup_path %>
  </p>
  <p>
  or
  <%= link_to "Sign in with Google", '/auth/google_oauth2' %>
  </p>
  <% end %>
</div>
<br>
<br>

<div id="welcome-headings">

<h4>About Us</h4>
</div>
<br>
<div id="about-description">
<p>
  Save-the-Food is a place where you can store your favorite recipes and also view recipes that other users have added in. 
  Although a lot of the recipes are geared toward meals that can be saved to take to work the next day, feel free to add in 
  any kind of recipe you wish. You also have the option of rating and reviewing any of the recipes you see. 
  Hope you enjoy, bon appétit!
</p>
</div>