<%= render 'layouts/logged_in_or_not' %>

<h1>All the recipes for your viewing pleasure!</h1>
<p><%= link_to "Our Top 3 Recipes", recipes_top_three_path %></p>
<p>All Recipes:</p>
<% @recipes.each do |rec| %>
  <p><%= link_to rec.name, recipe_path(rec) %></p>
<% end %>