<h1><%= link_to @review.recipe.name, recipe_path(@review.recipe) %></h1>

<%= render partial: 'recipes/recipe', locals: {recipe: @review.recipe} %>

<h4>Edit your review for <%= link_to @review.recipe.name, recipe_path(@review.recipe) %></h4>

<%= render partial: 'form', locals: {review: @review} %>