<%= render partial: 'recipes/recipe', locals: {recipe: @review.recipe} %>

<h1>Edit your review for <%= @review.recipe.name %></h1>

<%= render partial: 'form', locals: {review: @review} %>

### need to add link to show page in the h1