<h1>Reviews</h1>

<% @reviews.each do |rev| %>
  <div>
    <p><%= link_to rev.recipe.name, recipe_path(rev.recipe) %></p>
    <p><%= link_to rev.user.name, user_path(rev.user) %> - Rating: <%= rev.rating %> stars</p>
    <p><%= rev.content %></p>
  </div><br>
<% end %>
