<%= render partial: 'recipes/recipe', locals: {recipe: @review.recipe} %>

<p><%= @review.user.name %> gives this recipe <%= pluralize(@review.rating, "star") %></p>
<p></p>
<p><%= @review.content %></p>

