<% if !info.nil? %>
  <div class="alert alert-primary" role="alert">
    <%= info %>
  </div>
<% end %>

<% if !success.nil? %>
  <div class="alert alert-primary" role="alert">
    <%= success %>
  </div>
<% end %>